@using EPiServer.Shell
@using System.Web.Mvc.Html
@using SiteImprove.EPiserver.Plugin.Controllers

@model string

@{
    ViewBag.Title = "Siteimprove";
    Layout = Paths.ToClientResource(typeof(SiteimproveAdminController), "Views/Admin/_Layout.cshtml");
}

<p>
    <b>Token</b>: @Model

    @using (Html.BeginForm("Index", "SiteimproveAdmin"))
    {
        @Html.Hidden("newToken", true);
        <input type="submit" value="Request new token" />
    }

    @*@Html.ActionLink("Request new token", "Index", "SiteimproveAdmin", new { newToken = true }, null);*@
</p>