@using System.Web.Mvc.Html
@using EPiServer.ServiceLocation
@using SiteImprove.EPiserver.Plugin
@using SiteImprove.EPiserver.Plugin.Core

@model string

@{
    ViewBag.Title = "Siteimprove";
    Layout = ServiceLocator.Current.GetInstance<ISiteimproveHelper>().GetAdminViewPath("_Layout");
}

<p>
    <b>Token</b>: @Model

    @using (Html.BeginForm("Index", "SiteimproveAdmin"))
    {
        @Html.Hidden("newToken", true);
        <input type="submit" value="Request new token" />
    }

    @*@Html.ActionLink("Request new token", "Index", "SiteimproveAdmin", new { newToken = true }, null);*@
</p>