@using System.Web.Mvc.Html
@using EPiServer.ServiceLocation
@using SiteImprove.EPiserver.Plugin
@using SiteImprove.EPiserver.Plugin.Core

@model SiteImprove.EPiserver.Plugin.Core.Models.SettingsViewModel

@{
    ViewBag.Title = "Siteimprove";
    Layout = ServiceLocator.Current.GetInstance<ISiteimproveHelper>().GetAdminViewPath("_Layout");
}

<p>
    <b>Token</b>: @Model.Token

    @using (Html.BeginForm("Index", "SiteimproveAdmin"))
    {
        @Html.Hidden("newToken", true);
        <input type="submit" value="Request new token" />
    }
    <br />
    <br />
    @using (Html.BeginForm("Save", "SiteimproveAdmin", FormMethod.Post))
    {
        @Html.CheckBoxFor(model => model.NoRecheck)
        @Html.LabelFor(model => model.NoRecheck, "Dont recheck pages on publish")
        <br />
        <br />
        <div class="epi-buttonContainer">
            <span class="epi-cmsButton">
                <input type="submit" class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Save" value="Save" />
            </span>
        </div>
    }
</p>