<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="true" tags="EPiServerPublicModulePackage">
  <assemblies>
    <add assembly="SiteImprove.Episerver.Plugin"/>
  </assemblies>
  
  <clientResources>
    <add dependency="epi-cms.widgets.base" path="ClientResources/siteimprove.js" resourceType="Script"  />
    <add name="siteimprove.smallbox" path="https://cdn.siteimprove.net/cms/overlay.js" resourceType="Script" />
  </clientResources>

  <clientModule initializer="siteimprove">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="siteimprove.smallbox" />
    </requiredResources>
  </clientModule>

  <dojoModules>
    <add name="siteimprove" path="ClientResources/siteimprove" />
  </dojoModules>
</module>